@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

h1 {
  font-size: 72px;
  font-family: "Roboto Mono", sans-serif;
}
